@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* global styles */
input{
    border: none;
    border-radius: 3px;
    background-color: rgb(221, 221, 221);
    padding: 5px;
}


.__color-green{
    color: #32985C;
}
.__gray-bg{
    background-color: rgb(236, 236, 236);
}


.button{
    color: white;
    border-radius: 5px;
    font-weight: 500;
    border: none;
    width: 150px;
    height: 40px;
    background-color: #32985C;
    transition: 200ms ease-in-out;
}
.button:hover{
    background-color: #2a814f;
}








/* header styles */


.__header-img{
    width: 50px;
}

/* image styles */

.__img{
    max-height: 700px !important;
    overflow: hidden;
    
}
.__img img{
    object-fit: cover;
    object-position: center;
}
.__input-form{
    max-height: 700px;
}


/* input styles */

.input-item-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:350px;
    
}